.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
  }
  
  .content {
    width: 100%;
    max-width: 400px; /* Adjust max-width as needed */
  }
  
  .links {
    margin-top: 20px;
  }