.sidebar {
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    overflow-y: auto;
}

.sidebar-item {
    margin-bottom: 20px;
}

.sidebar-item p {
    margin: 0;
    font-weight: bold;
    text-align: left;
}

.close-sidebar {
    display: block;
    margin-bottom: 30px; 
}

.input-group {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.quantity-input {
    width: 60px;
    margin-right: 10px; 
}

.remove-item {
    padding: 5px 10px; 
    font-size: 12px;
}

.total-price {
    margin-top: 20px; 
}
